"<%= @post.postable.title %>" has been made <%= @post.pretty_moderation_state %> in the <%= @post.messageboard.name %> discussion board.

<blockquote><%= @post.filtered_content(self) %></blockquote>

<hr />

<p>
  View the conversation <%= link_to 'here', post_permalink_url(@post.id) %>.
  To unsubscribe from these emails, update your
  <%= link_to 'preferences', edit_messageboard_preferences_url(@post.messageboard) %>.
</p>
