<p>
  A comment has been added to "<%= @post.postable.title %>" in the <%= @post.messageboard.name %> discussion board
</p>

<blockquote><%= @post.filtered_content(self) %></blockquote>

<hr />

<p>
  View the conversation <%= link_to 'here', post_permalink_url(@post) %>.

  To unsubscribe from these emails, update your <%= link_to 'preferences', edit_global_preferences_url %>.
</p>
