<% topic = form.object.respond_to?(:topic) ? form.object.topic : form.object %>
<% if policy(topic).moderate? %>
  <li class="thredded--form-list--admin-options">
    <%= form.label :locked do %>
      <%= form.check_box :locked %> Locked
    <% end %>

    <%= form.label :sticky do %>
      <%= form.check_box :sticky %> Sticky
    <% end %>

    <% if topic.new_record? %>

      <%= form.label :make_private do %>
        <%= form.check_box :make_private %> Private
      <% end %>

      <%= form.label :email_all_messageboard_members do %>
        <%= form.check_box :email_all_messageboard_members %>
        E-mail all researchers on this project now
      <% end %>

    <% end %>
  </li>
<% end %>

<!-- Don't allow privacy to be true when emailing everyone -->
<script>
  function toggleCheckboxesDisabled($element) {
    if ($element.attr('disabled')) {
      $element.removeAttr("disabled");
    } else {
      $element.attr("disabled", true);
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    $("#topic_make_private").click(function(e) {
      toggleCheckboxesDisabled($("#topic_email_all_messageboard_members"))
    });

    $("#topic_email_all_messageboard_members").click(function(e) {
      toggleCheckboxesDisabled($("#topic_make_private"))
    });
  }, false);
</script>
